<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a>
            </li>
            <li><a href="">Pages</a></li>
            <li class="active">Edit "<%= @page.post_title %>" Page</li>
        </ul>
        <!--breadcrumbs end -->
       <h1 class="h1">Edit "<%= @page.post_title %>" Page</h1>
    </div>
</div>

<%= render 'form_edit' %>
