<h2 class="title">

	<% if @admin.id == session[:admin_id] %>
		Edit Profile
	<% else %>
		Edit Administrator
	<% end %>

  	<div class="btn-group pull-right">
	    <%= link_to :back, :class => 'btn btn-mini' do %>
	      <i class="icon-arrow-left"></i>
	    <% end %>
	    
	    <% if @admin.overlord != 'Y' %>  
		    <%= link_to admin_administrator_path(@admin), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do %>
			  <i class="icon-trash"></i>
			<% end %>
		<% end %>

	</div>
</h2>

<%= render 'form' %>
