
<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Users</a></li>
            <li class="active">Edit User</li>
        </ul>
        <!--breadcrumbs end -->
       <h1 class="h1">Edit User</h1>
    </div>
</div>

<div class="row settingsArea">

  <div class="col-md-12">

  		<%= render 'form' %>
  		
	</div>
</div>
