*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/log/development.log
/spec/dummy/log/development.log
/tmp/*
/config/database.yml
/config/config.yml
/config/initializers/secret_token.rb
/config/initializers/bullet.rb
/public/*
.project
.gem
.gemspec
.DS_Store