
<p><img src="http://placehold.it/960x432" width="960" /></p>

<div class="two_third">

	<%= display_content %>

</div>

<div class="one_third last">

	<h3>Latest News</h3>

	<% get_latest_article(1).each do |p|  %>

		<p><%= get_the_excerpt(p, 255) %></p>

		<small><a href="<%= get_the_permalink(p) %>">Read More</a></small>
	<% end %> 

</div>



<div class="clear"></div>
