<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a>
            </li>
            <li><a href="">Banners</a></li>
            <li class="active">Create New Banner</li>
        </ul>
        <!--breadcrumbs end -->
       <h1 class="h1">Create New Banner</h1>
    </div>
</div>

<%= render 'form' %>