<div class="accordion autosaveAccordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse"><i class="icon-save pull-left"></i>&nbsp;Revisions<i class="accordionSign pull-right"></i></a>
    </div>
    <div id="collapse" class="accordion-body collapse">
      <div id="revisionsContainer" class="accordion-inner">
      	 <%= render 'autosave_list' %>
      </div>
    </div>
  </div>
</div>  