<p>Hi there,</p> 

<p>There has been a new comment made against the post - <%= @comment.post.post_title %></p>

<p>The details of the comment are below:- </p>

<strong>Author:-</strong> <%= @comment.author %>

<strong>Email Address:-</strong> <%= @comment.email %>

<strong>Comment:-</strong> " <%= @comment.comment%> "

<p>Please login to Roroa to moderate the comment.</p>