<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>    
      
      
<div id="map" style="height: 300px;margin-top:-15px;margin-bottom:20px;"></div>

<script type="text/javascript">
  var locations = [
            ["", 52.299976,0.650829, 1]
    ];

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: new google.maps.LatLng(52.299976,0.650829),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

    var styles = [
    {
      stylers: [
        { hue: "#FF4533" },
        { saturation: +200 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 50 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  // Create a new StyledMapType object, passing it the array of styles,
  // as well as the name to be displayed on the map type control.
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});

  // map.mapTypes.set('map_style', styledMap);
  // map.setMapTypeId('map_style');


  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>

<div class="breadcrumbWrapper">
  <%= render_breadcrumbs %>
  <div class="clear"></div>
</div>

<div class="one_half">
<%= display_content %>
</div>
<div class="one_half last">

<form action="<%= site_url %>send_email" class="contact_form" method="post">
            
              <label>
                  
                    <span>Your name</span>
                  
                    <input type="text" name="fname" id="fname">
                    
                </label>
            
              <label>
                  
                    <span>Email Address</span>
                  
                    <input type="text" name="email" id="email">
                    
                </label>
            
              <label>
                  
                    <span>Phone</span>
                  
                    <input type="text" name="phoneN" id="phoneN">
                    
                </label>
            
              <label>
                  
                    <span>Message</span>
                  
                    <textarea id="message" name="message"></textarea>
                    
                </label>
            
              <label>
                  
                    <input type="submit" value="Send Message" name="send" id="send">
                    
                </label>
            
            </form>

</div>

<div class="clear"></div>