<div class="sub_nav">
            

	<span class="h2">Archive</span>
		
		<%= get_archives 'M', true %>

	<br><br>
            
   	<span class="h2">Categories</span>
	<%= get_categories %>
	
	<br><br>
            
    <span class="h2">Tags</span>                      
		<%= get_tag_cloud 'list'  %>
	<div class="clear"></div>
</div>