<form role="search" method="get" class="searchform" action="<%= root_path %>">
	<div>
        <input type="text" value="" placeholder="Search for..." name="search" id="search" />
        <input type="submit" id="searchsubmit" value="" />
    </div>
</form>