<h1>Archive</h1>

<strong><%= get_archive_caption %></strong>

<br />


<% @content.each do |p| %>

	<a href="<%= get_the_permalink p %>"><%= get_the_title p %> - <%= get_the_date p %></a><br />

<% end %>