<h1>Category Page</h1>

<%

if !@content.blank?

 	@content.each do |p| %>

		<a href="<%= get_the_permalink p %>"><%= get_the_title p %> - <%= get_the_date p %></a><br />

	<% end %>
<% else %>
	
	<p>No posts match the criteria</p>
	
<% end %>