<h1 class="title"><%= display_title %></h1>
<small><%= display_date %></small>

<%= display_content %>


<% get_banners(Hash[:key => 'home', :limit => '3']).each do |f| %>
	
	<p><img src="<%= f.image %>" /></p>

<% end %>