<% if @initial %>
<ul class="t" id="folderList">

					<li class="folderRow orange initial">
						<a class="folderLink" href="" data-key="all">
<i class="fa fa-chevron-right"></i>&nbsp;<span> All</span>
						</a>
					</li>
<% else %>
	
	<ul>
	
<% end %>
					<% 
					@f.each_with_index do |file, i| 
							if file.key.count('/') > 4 || file.key.split('/').last == 'trainers_files'
								next
							end

							hasFolder = false

							if !@f[i+1].blank?
								if @f[i].key.count('/') < @f[i+1].key.count('/') 
									hasFolder = true
								end
							end
					%>

						<li class="folderRow">
							<a class="folderLink" href="" data-key="<%= file.key %>" data-hasfolder="<%= hasFolder %>">
								<i class="fa fa-folder"></i>&nbsp;<span><%= file.key.split('/').last.gsub('/', '') %></span>
								<i class="fa fa-times"></i>
							</a>
							<% if !@f[i + 1].nil? && @f[i + 1].key.count('/') > file.key.count('/') %>
								<%= make_media_folder_subpage @f, @f[i+1], i %>
							<% end %>
						</li>
					<% end %>
					
				</ul>