<% if @initial %>
<ul class="t" id="folderList">

					<li class="folderRow active">
						<a class="folderLink" href="" data-key="all">
<i class="icon-angle-right"></i>&nbsp;<span>All</span>
						</a>
					</li>
<% else %>
	
	<ul>
	
<% end %>

					<% 
					@f.each_with_index do |file, i| 
						
							if file.content_type != 'binary/octet-stream'
								next
							end

					%>

					<li class="folderRow">
						<%= i.inspect %>
						<a class="folderLink" href="" data-key="<%= file.key %>">
<i class="icon-angle-right"></i>&nbsp;<span><%= file.key.gsub('/', '') %> - <%= file.key.count('/').to_s %></span>
						</a>
						<i class="icon-remove"></i>
						<% if !@f[i.to_i + 1].blank? && @f[i.to_i + 1].key.count('/') > file.key.count('/') %>
							<ul><li>123123</li></ul>
						<% end %>
					</li>
					
					<% end %>
					
				</ul>