<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
        <% if params[:manualBrowse].blank? %>
        	<h2 class="title">Media Area
            </h2>
            <h6 class="pull-right">Current Storage Size: <strong><%= get_folder_size(@path) %></strong></h6>
        <% end %>

    </div>


    <br>


	<%= render 'media_area' %>


    <div class="clearboth"></div>
    <div class="clearboth"></div>

		
	</div>
</div>

<% if params[:manualBrowse] || params[:CKEditor] %>
    <% if params[:manualBrowse] %>

        <script type="text/javascript">

            
            
            $('.fileMenu').on('dblclick', '.span3', function(){
                var image = $('img', $(this)).attr('data-image');
                sendUrl(image);
            });

            function sendUrl(image){
                window.opener.returnImageFunction(image)
                window.close();
            }

        </script>

    <% else %>

        <script type="text/javascript">
            
            $('.fileMenu').on('dblclick', '.span3', function(){
                var image = $('img', $(this)).attr('data-image');
                getUrl(1, image);
            });

            function getUrl(cback, image_file){
                window.opener.CKEDITOR.tools.callFunction(cback, image_file);
                window.close();
            }

        </script>


    <% end %>
<% end %>



