    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
            <% if params[:manualBrowse].blank? %>
            	<h2 class="title">Media Area
                </h2>
                <h6 class="pull-right">Current Storage Size: <strong><%= get_folder_size(@path) %></strong></h6>
            <% end %>

        </div>


        <br>

        <% if params[:manualBrowse].blank? %>

        	<%= render 'media_area' %>

        <% else %>

        	<%= render 'media_table' %>

        <% end %>

        <div class="clearboth"></div>
        <div class="clearboth"></div>

    		
    	</div>
    </div>
