<p>Hi there,</p> 

<p>You have recieved a message from the contact form.</p> 

<p>The details are below:-</p>

<strong>Name:-</strong> <%= @params[:fname] %>

<strong>Email Address:-</strong> <%= @params[:email] %>

<strong>Phone:-</strong> <%= @params[:phoneN] %> 

<strong>Message:-</strong> <%= @params[:message] %> 