<p><%= I18n.t("mailers.emailer.generic.greeting") %></p>

<p><%= I18n.t("mailers.emailer.profile.line_one", username: @admin.username) %></p>

<p><%= I18n.t("mailers.emailer.profile.line_two") %></p>

<%= image_tag site_url('assets/admin/roroafull.png'), alt: "RoroaCMS Logo" %>