<div class="two_third">
	<ol class="sortable">
	    <li><div>Some content</div></li>
	    <li>
	        <div>Some content</div>
	        <ol>
	            <li><div>Some sub-item content</div></li>
	            <li><div>Some sub-item content</div></li>
	        </ol>
	    </li>
	    <li><div>Some content</div></li>
	</ol>

	<div id="serialize">ser</div>
</div>


<script type="text/javascript">
	
	$(document).ready(function(){
	
        $('.sortable').nestedSortable({
            handle: 'div',
            items: 'li',
            toleranceElement: '> div', 
            opacity: 0.5,
            accept: 'sortable-element-class',
    		onChange : function(serialized) {
    			console.log('23123')
    		}

        });

        $('#serialize').click(function(){
			serialized = $('ol.sortable').sortable('serialize',{key:'string'});
			console.log(serialized)
		})
	});


</script>