<div class="row">
	<div class="span4">

	    <div class="title">Add New Menu Group</div>

		<%= render 'menu_form' %>

	</div>



	<div class="span8">

		<% @menugroups.each do |m| %>

			<%= get_menu_groups m %>

		<% end %>

	</div>
</div>



<script type="text/javascript">
	
	$(document).ready(function(){
	
		$('ol.sortable').nestedSortable({
			forcePlaceholderSize: true,
			handle: 'div',
			helper:	'clone',
			items: 'li',
			opacity: .6,
			placeholder: 'placeholder',
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div',
			maxLevels: 3,

			isTree: true,
			expandOnHover: 700,
			startCollapsed: true,
			update: function(){
				console.log('update')
			}
		});

		$('.disclose').on('click', function() {
			$(this).closest('li').toggleClass('mjs-nestedSortable-collapsed').toggleClass('mjs-nestedSortable-expanded');
		})


    });
</script>