<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a>
            </li>
            <li><a href="">Articles</a></li>
            <li class="active">Edit "<%= @post.post_title %>" Article</li>
        </ul>
        <!--breadcrumbs end -->
       <h1 class="h1">Edit "<%= @post.post_title %>" Article</h1>
    </div>
</div>

<%= render 'form' %>