<form role="search" method="GET" class="searchform" action="<%= root_path %>">
	<div class="input-group">
        <input type="text" class="form-control" value="" placeholder="Search for..." name="search" id="search">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>