<div class='accordion' id='custom'>
	<div class='accordion-group'>
		<div class='accordion-heading'>
		  <a class='accordion-toggle' data-toggle='collapse' data-parent='#custom' href='#collapseCustom'><i class='icon-external-link pull-left'></i>&nbsp;Custom Link<i class='accordionSign pull-right'></i></a>
		</div>
		<div id='collapseCustom' class='accordion-body collapse in'>
		  <div class='accordion-inner'>
		    <form action='' method='post' data-type='custom'>
		    	<input type='hidden' name='type' value='custom' />
		    	<input type='text' name='customlink' placeholder='http://...' />
		    	<input name='label' type='text' placeholder='Label'>
				<input name='class' type='text' placeholder='Class'>
				<span class='title'>Target</span>
				<div class='clearboth'></div>
					<input type='radio' value='sw' checked='checked' name='target'><label>Same Window</label><br>
					<input type='radio' value='nt' name='target'><label>New Tab</label><br>
				<div class='formSepUpp'>
					<button type='submit' class='btn btn-mini pull-left'> 
					    <i class='icon-plus'></i>
					  </button>
				</div>
		   	</form>
		  </div>
		</div>
	</div>
</div>