<div class="modal fade" id="mdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Markdown Basics</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
		    <thead>
		        <tr>
		            <th>Result</th>
		            <th>Markdown</th>
		        </tr>
		    </thead>
		    <tbody>
		    	 <tr>
		            <td>H1</td>
		            <td># Heading</td>
		        </tr>
		        <tr>
		            <td>H2</td>
		            <td>## Heading</td>
		        </tr>
		        <tr>
		            <td>H3</td>
		            <td>### Heading</td>
		        </tr>
		        <tr>
		            <td><strong>Bold</strong></td>
		            <td>**text**</td>
		        </tr>
		        <tr>
		            <td><em>Emphasize</em></td>
		            <td>*text*</td>
		        </tr>
		        <tr>
		            <td>Strike-through</td>
		            <td>~~text~~</td>
		        </tr>
		        <tr>
		            <td><a href="javascript:;">Link</a></td>
		            <td>[title](http://)</td>
		        </tr>
		        <tr>
		            <td>Image</td>
		            <td>![alt](http://)</td>
		        </tr>
		        <tr>
		            <td>List</td>
		            <td>* item</td>
		        </tr>
		    </tbody>
		</table>
      </div>
      <div class="modal-footer">
      	<p class="pull-left">For further Markdown syntax reference please see <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">here</a>.</p>
      </div>
    </div>
  </div>
</div>