<%= form_tag site_url("admin/pages/bulk_update") do %>

  <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="checkboxth"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th>Page Title</th>
        <th>Published Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <%= nested_table @pages %>
  </table>
  <hr>
  <%= bulk_update_dropdown Hash['publish' => 'Publish', 'draft' => 'Draft', 'move_to_trash' => 'Move To Trash'] %>

<% end %>