<%= form_tag site_url("admin/pages/bulk_update") do %>

  <table id="dtable" class="table table-striped"  width="100%">
    <thead>
      <tr>
        <th class="checkboxth hidden-xs"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th>Page Title</th>
        <th class="hidden-xs">Published Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <%= nested_table @pages %>
  </table>
  <hr>
  <div class="hidden-xs">
    <%= bulk_update_dropdown Hash['publish' => 'Publish', 'draft' => 'Draft', 'move_to_trash' => 'Move To Trash'] %>
  </div>
  <div id="paginationWrapper"></div>

<% end %>