<% if !defined? @search %>
	
        <div class="pagination pagination-small pagination-right">
            <ul>
                <li class="active" data-num="1"><a href="#">25</a></li>
                <li data-num="5"><a href="#">50</a></li>
                <li data-num="7"><a href="#">75</a></li>
                <li data-num="100000000"><a href="#">View All</a></li>
            </ul>
        </div>
<% end %>


<script type="text/javascript">
   
    $(document).ready(function(){

        /* This is used for the pagination */

        $('.pagination li').bind('click', function(e){
            e.preventDefault();

            form = $('body .well form');

            if ($('input[name=pagination]').length){
            	$('input[name=pagination]').val($(this).attr('data-num'))
            } else {
            	form.append('<input type="hidden" name="pagination" value="' + $(this).attr('data-num') + '" />');
           	}

           	form.submit();
           
        })
    });
   


</script>