<ul class="timelineSingle">
    <li>
      <div class="timelineSingle-badge"><i class="fa fa-user"></i></div>
      <div class="timelineSingle-panel">
        <div class="timelineSingle-heading">
          <h4 class="timelineSingle-title"><%= Diffy::Diff.new("Post Title One", "Post Title Two", :include_plus_and_minus_in_html => true, :context => 1).to_s(:html).html_safe %></h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago by simon-fletcher</small></p>
        </div>
        <div class="timelineSingle-body">
          <strong>Post Title One</strong>
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          <hr>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Resotre</a></li>
              <li><a href="#">View</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timelineSingle-badge danger"><i class="fa fa-save"></i></div>
      <div class="timelineSingle-panel">
        <div class="timelineSingle-heading">
          <h4 class="timelineSingle-title">
            Mussum ipsum cacilds
          </h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago by simon-fletcher</small></p>
        </div>
        <div class="timelineSingle-body">
          <%= Diffy::Diff.new("foo\nfoo\nBAR\nbang\nbaz", "foo\nfoo\nbar\nbang\nbaz", :include_plus_and_minus_in_html => true, :context => 1).to_s(:html).html_safe %>
          <hr>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog"></i> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Resotre</a></li>
              <li><a href="#">View</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
</ul>
<!--
<%= Diffy::Diff.new("foo\nfoo\nBAR\nbang\nbaz", "foo\nfoo\nbar\nbang\nbaz", :include_plus_and_minus_in_html => true, :context => 1).to_s(:html).html_safe %>
<%= Diffy::Diff.new("foo\nfoo\nBAR\nbang\nbaz", "foo\nfoo\nBAR\nbang\nbaz").to_s.blank? %>
 -->