<div class="row">
	<div class="col-md-6">
		<% if defined?(path) %>
			<%= link_to path do %>
				<button class="pull-left btn btn-small btn-block btn-primary"><span class="fa fa-plus"></span>&nbsp;<%= name %></button>
			<% end %>
		<% else %>
			&nbsp;
		<% end %>
	</div>
	<div class="col-md-6">
		<input class="form-control" id="tableFilter" placeholder="<%= I18n.t("generic.search") %>">
	</div>
	<div class="clearfix"></div>
</div>