<div class="row">
  <div class="col-md-6">
    <% if defined?(path) %>
      <%= link_to path, id: defined?(id) ? id : '', class: "pull-left btn btn-small btn-block btn-primary" do %>
        <span class="fa fa-plus"></span>&nbsp;<%= name %>
      <% end %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class="col-md-6">
    <input class="form-control" id="tableFilter" placeholder="<%= t("generic.search") %>">
  </div>
  <div class="clearfix"></div>
</div>