<% if @type == 'category' %>
	<div class="title">
		Post Category
		  <%= link_to admin_posts_path, :class => 'btn btn-mini pull-right' do %>
		    <i class="icon-arrow-left"></i>
		  <% end %>   
	</div>
<% else %>
	<div class="title">
		Post Tag
		<%= link_to admin_posts_path, :class => 'btn btn-mini pull-right' do %>
		    <i class="icon-arrow-left"></i>
	  <% end %>   
	</div>
<% end %>


<% if @type == 'category' %>
	<%= render :partial => 'form', :locals => {:edit => true} %>
<% else %>
	<%= render :partial => 'form_tag', :locals => {:edit => true} %>
<% end %>