<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="panel-body">
        
        <div class="col-md-4">
        	<%= render 'form' %>
        </div>
        <div class="col-md-8">

        <% if (@type == 'category' ? Term::CATEGORIES : Term::TAGS).blank? %>
			  
			  <div class="span8" style="text-align:center;">
			    <strong style="margin-top:100px; font-size:25px; display:block; "><%= t("views.admin.terms.view.have_no", type: pluralize_without_count(2, @type)) %></strong>
			  </div>

			<% else %>

				<%= render 'table' %>

			<% end %>

        </div>

      </div>
    </div>
  </div>
</div>