/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}


.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

body {
  background-color:white;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6, p, li, ul, ol, a, span, label {
  padding:0;
  margin:0;
  list-style:none;
  font-family: 'Belgrano', serif;
  color:#6C6C6C;
}

h1 {
  padding:5px 0 10px 0;
  text-transform:uppercase;
}

h2, h3, .h1, .h2, .h3 {
  padding:5px 0 10px 0;
  font-family:Georgia, "Times New Roman", Times, serif;
}

a {
  color:#e74935
}

a img {
  border:none
}

p {
  font-size: 12px;
  line-height:20px;
  padding-bottom: 15px;
  font-family:Georgia, "Times New Roman", Times, serif
}

.home_layout h1, .home_layout .h1 {
  font-size:22px;
  font-weight: normal;
  text-transform: uppercase;
  color: #545456;
  text-decoration: none;
  display: block;
  padding-top: 0px;
  padding-bottom: 15px;
}
h2, .h2 {
  font-size: 17px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
}

h3, .h3 {
  font-size: 14px;
  line-height: 22px;
  text-transform: none;
  color: #545456;
}

h4, .h4 {
  font-size: 14px;
  line-height: 22px;
  padding:0 0 10px 0;
  text-transform: none;
  color: #E74935;
}

h1, .h1 {
  font-size:30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #545456;
  text-decoration: none;
  display: block;
  padding-top: 0px;
  padding-bottom: 15px;
}

.internal_banner_full {
  height:251px;
  overflow:hidden
}

.internal_banner {
  height:201px;
  overflow:hidden
}

.m {
  width:960px;
  margin:0 auto
}

.clear {
  clear:both;
}

.divide {
  margin-top: 20px;
  padding-top: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E8E8E8;
}

.divide_shadow {
  background-image: url(../images/divide.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 30px;
  clear:both
}

#header {
  height:143px
}

#nav {
  height:50px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #dcdcdc;
}

#nav > .menu-main-container > ul > li {
  float:left;
}
#nav > .menu-main-container > ul > li:hover > a, #nav > .menu-main-container > ul > li.current-menu-item > a {
  color: #E74935;
  
  transition: color 500ms;
  -moz-transition: color 500ms;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;

}
#nav > .menu-main-container > ul > li:hover > ul > li:hover > a {
  color: #E74935;
  opacity:0.9;
  
  transition: color, opacity 200ms;
  -moz-transition: color, opacity 200ms;
  -webkit-transition: color, opacity 200ms;
  -o-transition: color, opacity 200ms;
  
}
#nav > .menu-main-container > ul > li > a {
  transition: color 500ms;
  -moz-transition: color 500ms;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  display:block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 40px;
  color: #535456;
}
#nav > .menu-main-container > ul > li:hover > ul {
  visibility:visible;
  opacity:1;
  margin:0;
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  
}
#nav > .menu-main-container > ul > li > ul {
  visibility:hidden;
  position:absolute;
  width:200px;
  box-shadow:0 6px 6px rgba(0,0,0,0.1);
  z-index:999;
  opacity:0;
  margin:-5px 0 0 0;
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  
}
#nav > .menu-main-container > ul > li > ul > li > a {
  display:block;
  padding:10px;
  background-color: #FFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color, opacity 200ms;
  -moz-transition: color, opacity 200ms;
  -webkit-transition: color, opacity 200ms;
  -o-transition: color, opacity 200ms;
  color: #535456;
}

#banner {
  height:433px
}

#header .logo {
  display:block;
  float:left;
  background-image: url(../images/frontend-logo-2.png);
  background-repeat: no-repeat;
  background-position: -10px 12px;
  height: 135px;
  width: 400px;
  
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  
}
#header .logo:hover strong {
  
  opacity:1;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;

}
#header .logo strong {
  display:block;
  float:left;
  /*background-image: url(../images/logo2.jpg);*/
  background-repeat: no-repeat;
  background-position: left top;
  height: 135px;
  width: 400px;
  opacity:0;
    
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
    
}
#header .one_third.last {
  padding:40px 0 0 0
}
#header .one_third.last span {
  display:block;
  text-align:right
}
#header .one_third.last span.get_in_touch {
  text-transform: uppercase;
  font-size: 13px;
  font-family:Georgia, "Times New Roman", Times, serif;
  letter-spacing:1px;
  padding-bottom: 2px;
}
#header .one_third.last span.tel {
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing:-1px;
  font-size: 32px;
  font-weight: bold;
  color: #E74935;
  padding-bottom: 2px;  
}
#header .one_third.last span.email a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
}
.searchform label {
  display:none
}
.searchform {
  margin:60px 0 0 140px;
}
.searchform > input[type=text]{
  background-color: #FFF;
  padding: 10px;
  width: 200px;
  border: 1px solid #DCDCDC;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  
  
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;  

}
.searchform > input[type=text]:focus {
  border: 1px solid #969696;
  color: #333;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.searchform input[type=submit] {
background-color: #FFFFFF;
    background-image: url("../images/search.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-style: none;
    cursor: pointer;
    height: 24px;
    margin: -27px 223px;
    position: absolute;
    z-index: 1000;
}
#banner .bx-pager {
  position:absolute;
  text-align:right;
  z-index:999;
  width:127px;
  margin:-45px 0 0 800px
}
#banner .bx-pager a.pager-active {
  background-position: left bottom;
}
#banner .bx-pager a {
  display:block;
  float:right;
  overflow:hidden;
  background-image: url(../images/pager.png);
  background-repeat: no-repeat;
  background-position: left top;
  height:14px;
  width:20px;
  text-indent: 900px;
}
#footer {
  height:170px;
}
#footer p {
  padding:0 0 10px 0
}

#footer p, #footer a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#666666
}
#footer .footer_logo {
  display:block;
  background-image: url(../images/frontend-logo-footer-2.png);
  background-repeat: no-repeat;
  background-position: 0 top;
  height: 75px;
  width: 326px;
}
#footer .social {
  background-image: url(../images/social.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  height: 50px;
}
#footer .social a {
  display:block;
  float:right;
  width:40px;
  height:35px;
  opacity:0.4;
  background-color: #FFF;
  
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  
}
.menu-footer-container > ul {
  float:right
}
.menu-footer-container > ul > li {
  display:inline;
  margin:0 0 0 10px
}
#footer .social a:hover {
  opacity:0;
  
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  
}
#main {
  padding:0 0 30px 0
}
.sub_nav > ul > li > a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  font-weight: normal;
  text-transform: uppercase;
  color: #666;
}
.sub_nav > ul > li > a:hover {  
  color: #333;
  border-bottom-color: #E74935;
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
.breadcrumbs {
  padding:0 0 20px 0;
  font-family:Arial, Helvetica, sans-serif;
  color:#858585;
  font-size:11px;
}
.breadcrumbs a  {
  font-family:Arial, Helvetica, sans-serif;
  color:#858585;
  font-size:11px;
}
.date {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:13px;
  color:#666666;
  font-style: italic;
  display: block;
  padding-top: 2px;
  padding-bottom: 5px;
}
.date em {
  font-style:normal;
}
.testimionial_bx .item {
  width:400px;
}
.testimionial_control {
  position:absolute;
  margin:-50px 0 0 200px
}
.testimionial_control a {
  color:#999999;
  font-size: 25px;
  font-weight: normal;
  text-decoration: none;
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
.testimionial_control a:hover {
  color:#333333;
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
.testiomionials_page .item.odd {
  margin:20px 0 0 50px
}
.testiomionials_page .item .text {
  padding:25px;
  width:70%;
  background-color: #F0F0F0;
  margin:20px 0 0 0
}
.testiomionials_page .item .person {
  background-image: url(../images/t.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin:0 0 0 50px;
}
.contact_form label {
  display:block;
  font-size:12px;
  padding:15px 0 0 0;
}
.contact_form label span {
  display:block;
  font-family:Georgia, "Times New Roman", Times, serif;
  text-transform:uppercase;
  padding:5px 0 5px 0;
  color: #666;
}

.contact_form input[type=text], .contact_form textarea {
  width:96%;
}

.contact_form textarea {
  height:100px;
}

input[type=text], 
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333;
  text-decoration: none;
  background-color: #FFF;
  width: 230px;
  border: 1px solid #DCDCDC;
  padding: 8px;
  box-shadow:1px 1px 2px rgba(0,0,0,0); 
  
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  
}

input[type=text]:focus, 
textarea:focus {
  color: #333;
  border: 1px solid #999999;
  box-shadow:1px 1px 2px rgba(0,0,0,0.2); 

  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}

.orangeBtn,
.contact_form input[type=submit] {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  cursor:pointer;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: none;
  background-color: #E84736;
  margin: 0px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
.tags a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
  background-color: #E84833;
  padding: 3px;
  border: 1px solid #E42F1B;
  border-radius:5px;
  text-shadow:1px 1px 0px rgba(0,0,0,0.3);
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  font-size: 11px;
  margin:1px
}
.tags a:hover {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
  background-color: #EB6552;
  padding: 3px;
  border: 1px solid #E42F1B;
  border-radius:5px;
  text-shadow:1px 1px 0px rgba(0,0,0,0.3);
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
.gallery_layout .bx-prev {
  display:block;
  float:left;
  width:125px;
  padding:3px;
  text-align:left;
  color: #FFF;
  text-decoration: none;
  background-color: #555557;
  margin-right: 1px;
  font-size: 11px;

  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;

}
.thumb_group {
  height:448px;
  background-color:white;
}
.gallery_layout .bx-next {
  display:block;
  padding:3px;
  float:left;
  width:125px;
  text-align:right;
  color: #FFF;
  text-decoration: none;
  background-color: #555557;
  font-size: 11px;

  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
}
.gallery_layout .bx-next:hover, .gallery_layout .bx-prev:hover{
  background-color: #333;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;

}

article.comment .date {
  font-size: 12px;
  color: #a5a5a5;
}

article.comment p {
  margin-top:20px;
  font-size: 15px;
  margin-bottom:0px;
  padding-bottom:0;
}

#author-info {
    border-top: 4px solid #FF4533;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px 18px 0px;
     border-bottom:1px solid #E8E8E8;
}

#author-info h2 {
    color: #000000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}

fieldset.commentForm {
  border:none;
  padding-left:0;
}

fieldset.commentForm label {
  display: block;
  padding:5px 0px;
}

fieldset.commentForm textarea {
  width:80%;
}

fieldset.commentForm .orangeBtn {
 margin-top:20px;
}

.notice ul {
  margin-left:20px;
}

.notice ul li {
  list-style: disc;
  color:#E74935;
}

.notice .success {
  color:green;
}

#comments-title {
  margin-bottom:30px;
}