<p><%= t('.greeting', :recipient => @resource.email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<%= image_tag site_url('assets/admin/roroafull.png'), alt: "RoroaCMS Logo" %>