<p>Hello <%= @resource.email %>!</p>

<p>Somebody (hopefully you) requested a new password for the account for <%= @resource.email %>. No changes have been made to your account yet. If you did not request this email, you can safely ignore it.</p>

<p>If you did intend to reset your password, you can do so right from the link below:</p>

<p><%= link_to 'Click here to reset password', edit_password_url(@resource, :reset_password_token => @token) %></p>