<div class="row">
	<div class="col-md-7" id="menuSortableFields">

		<div class="panel panel-default">
			<div class="panel-body">
		
				<%= render 'menu_list' %>

				<hr>

				<button class="btn btn-primary updateMenu">Save</button>

			</div>
		</div>

	</div>

	<div class="col-md-5" id="menuForms">

		<%= render 'admin/menus/partials/menu_content_accordion' %>

	    <%= render 'admin/menus/partials/menu_custom_accordion' %> 

	</div>
</div>