<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="panel-body">
        
        <div class="col-md-4">
          <%= render 'form' %>
        </div>
        <div class="col-md-8">

          <% if @records.size > 0 %>
            <%= render 'table' %>
          <% else %>

            <div class="span8 text-center">
              <span class="warning-text top-margin-60 bottom-margin-60"><%= t("views.admin.terms.view.have_no", type: pluralize_without_count(2, @type)) %></span>
            </div>

          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>